// SASS Colour Variables
$colors: (
  primary: #cd1908,
  dark-gray: #171a1e,
  medium-gray: #222428,
  light-gray: #434445,
  white: #eaeaea,
);

// Font
$font-primary: "Roboto", sans-serif;

:root {
  // Map SASS Colours to CSS4 vars
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

// Declare Colors Using Function e.g. color(primary) --> var(--color-primary)
@function color($color-name) {
  @return var(--color-#{$color-name});
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-size: 6rem;
  color: #acacac;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

// Utilities

.scroll-box {
  height: 100%;
  overflow-y: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
  overflow-x: visible;
}

.highlight {
  color: color(primary);
}
