.search-bar {
  margin-bottom: 2rem;
  width: 100%;
  padding-right: 2rem;
  position: relative;
  height:2.5rem;

  &__input {
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.5rem;
    border-radius: 20rem;
    outline: none;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    font-family: 'Abel', sans-serif;
    position: absolute;
    left: 0;
    
    &::placeholder {
      color: #A6A6A6;
    }
  }

  &__submit {
    font-size: 1.6rem;
    background: color(primary);
    color: white;
    border-radius: 5rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    border: none;
    z-index: 2;
  }

}

.content-list {
  flex: 0 30rem;
  display: flex;
  flex-direction: column;
  
  &__button {
    height: 4rem;
    display: flex;
    margin-right: 2rem;
    position: relative;
    width: 26em;
    border-radius: 10rem;
    cursor: pointer;
    border: none;
    background-color: color(primary);
    margin-bottom: 1.6rem;
    outline: none;
    transition: 0.3s;
    margin-left:1rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    font-family: $font-primary;
    
    &:hover {
      opacity: .9;
    }
  }
  
  &__image {
    height: 5rem;
    background-color: #fdfeff;
    border-radius: 100%;
    flex: 0 0 5rem;
    transform: translate(-.5rem, -.5rem);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2); 
  }
  
  &__desc {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.9rem;
    color: color(white-1);
  }

  @media all and (max-width: 800px) {
    & {
      flex: 1;
      justify-content: center;
    }

    &__button {
      width: 95%;
    }
  }

}

.show-box {
  background-color: #f5f7fa;
  height: 100%;
  flex: 1;
  min-width: 500px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 2rem;

  &__image {
    display: block;
    margin: 5rem auto;
    width: 20rem;
    height: 20rem;
    background-color: white;
    border-radius: 100%;
  }

  &__text {
    text-align: center;
    padding: 0 2rem;
  }

  @media all and (max-width: 800px) {
    & {
      display: none;
    }
  }

}

/* Type Classes */
.content-list__type {
  border-radius: 3px;
  padding: 2px 4px;
  opacity: 0.8;
  display: inline;

  &--fire {
    background-color: #F08030;
  }
  &--grass {
    background-color: #22C02A;
  }
  &--water {
    background-color: #6890F0;
  }
  &--poison {
    background-color: #9F409F;
  }
  &--normal {
    background-color: #A6A6A6;
  }
}
