body {
  box-sizing: border-box;
  font-family: $font-primary;
  background: color(white-1); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, color(white-1), color(white-2)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    color(white-1),
    color(white-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: color(black);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  padding: 1.6rem 3rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 140rem;
  width: 90%;
  border-radius: 1rem;
  height: 90%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: color(white-1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; // Stops div 'shaking' on hover

  @media all and (max-width: 800px) {
    & {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }
}

main {
  height: 100%;
  display: flex;
  align-items: stretch;
  padding: 0 2rem;
}

footer {
  height: 4rem;
  background-color: color(black);
}

.wrapper {
  height: 100%;
  width: 200%;
  background-color: color(medium-gray);
  display: flex;
}

.wrapper-toggle {
  transform: translateX(-50%);
}

.search-section {
  height: 100%;
  width: 50%;
  background-color: color(dark-gray);
}

.details-section {
  display: flex;
  height: 100%;
  width: 50%;
  position: relative;
}

.details-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .back {
    display: none;
  }
  .wrapper {
    width: 100%;
    transform: translateX(0);
  }
  .wrapper-toggle {
    transform: translateX(0);
}
}